body {
  background-color: #fbfaf0;
}

label {
  font-family: 'Gothic A1', sans-serif;
}

button {
  font-family: 'Gothic A1', sans-serif;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

li {
  margin: 0 2rem;
  padding: 1rem 2rem;
}

a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.725);
}

.hidden {
  display: none;
}

.header-container {
  background-color: #bd133c;
  padding: 0.5rem;
}

.hamburger {
  color: black;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.hamburger:hover {
  cursor: pointer;
}

.menu {
  position: relative;
  margin: 1rem;
  padding: 0.5rem;
  border: 0.5px dashed black;
}

.menu a {
  color: white;
  display: block;
  background-color: bd133c;
  margin: 0.5rem;
  text-align: center;
}

.title {
  font-family: 'Gothic A1', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding: 0.5rem;
}

.logo {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  margin-bottom: 0.5rem;
}

.form-actions-container {
  margin-top: 5rem;
}

.period-selections-container {
  padding: 3rem;
}

.style-selections-container {
  padding: 3rem;
}

.buttons-container {
  padding: 3rem;
}

.randomize {
  color: white;
  background-color: #13c1c1;
  border-radius: 4%;
  width: 7.75rem;
  height: 2.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.create {
  color: white;
  background-color: #bd133c;
  border-radius: 4%;
  width: 7.75rem;
  height: 2.5rem;
  cursor: pointer;
}

#art-period {
  margin-top: 0.5rem;
}

#art-style {
  margin-top: 0.5rem;
}

.gallery-img {
  width: 250px;
  height: auto;
  cursor: pointer;
  margin-top: 2rem;
}

.gallery-text {
  margin-left: 1rem;
  font-family: 'Gothic A1', sans-serif;
  font-size: 1.5rem;
}

.no-results {
  text-align: center;
}

.title-text {
  font-size: 1rem;
  font-style: italic;
  font-family: 'Gothic A1', sans-serif;
}

.tagline-text {
  font-family: 'Gothic A1', sans-serif;
  font-size: 0.75rem;
}
